#header a {
    color:white;
    font-family:'Segoe UI';
    font-weight: bold;
}

#header button {
    color:#6200EE;
    font-family:'Roboto';
}

#TextoPrincipal h1 {
    color:#6200EE;
    font-family:'Noto Sans JP';
    text-align: center;

}
.mb-3 label{
    color:#6200EE;
    font-family:'Noto Sans JP';
}
.mb-2 label{
    color:#6200EE;
    font-family:'Noto Sans JP';
}

#btnIngresar button{
    background-color:#6200EE;
    color:white;
}

#btnRecordar button{
    background-color:#6200EE;
    color:white;
}

.container{
    width: 100%;
    display: flex;
    max-width: 1100px;    
}

.card{
    width: 100%;
    margin: 20px;
    border-radius : 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}